<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Oscache170214</display-name>
  
  <filter>
   <filter-name>oscache</filter-name>
   <filter-calss>com.opensymphony.oscache.web.filter.CacheFilter</filter-calss>
   <init-param>
      设置一个小时同步一次目录
     <param-name>time</param-name>
     <param-value>3600</param-value>
   </init-param>
   <init-param>
      存储在application中
     <param-name>scope</param-name>
     <param-value>application</param-value>
   </init-param>
  
  </filter>
  
  items下的页面都被缓存
  <filter-mapping>
   <filter-name>oscache</filter-name>
   <url-pattern>/items/*</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>